
:root {
    --dark-purple: #322153;
    --green: #34cb79;
    --primary-color: #4c13be;
}

* {
    margin: 0;
    padding: 0;

    
    
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}


